@import "tailwindcss";
@plugin "daisyui";

@layer base {
  h1 {
    @apply mb-4 text-center text-4xl font-bold text-amber-300;
  }

  h2 {
    @apply mb-4 text-2xl font-semibold text-amber-300;
  }
}
